.Userpage__avatar {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #cfd8dc;
}

.Userpage__center {
    margin: 0 auto;
    float: none;
}