.MoviePage__listGroupItem {
  background-color:honeydew;
}

.MoviePage__btnImage {
  background-color: #00b3ee;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 60px;
  width: 175px;
}

.MoviePage__Image {
  align-items: center;
}

.MoviePage__btnAdmin {
  background-color: red;
  width: 100px;
  margin-left: 20px;
  padding: 5px 5px 5px 5px;
  color: white;
}

.MoviePage__Buttons {
  text-align: center;
}

.MoviePage__Top {
  display:flex;
}

.MoviePage__Desc {
  display:flex;
  flex-direction: column;
}

.MoviePage__td {
  vertical-align:middle;
}

.MoviePage__tableInfo {
  margin-left: 20px;
}

.MoviePage__directorText {
  padding-left: 80px;
}

.MoviePage__countryText {
  padding-left: 82px;
}

.MoviePage__genreText {
  padding-left: 94px;
}

.MoviePage__ratingText {
  padding-left: 39px;
}

.MoviePage__releaseText {
  padding-left: 51px;
}

.MoviePage__lengthText {
  padding-left: 88px;
}

.MoviePage__errorMessage {
  color: red;
  font-size: x-large;
}