/** Bootstrap Import */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

/** Bootstrap Datepicker */
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css);

/** Import google fonts: Roboto Slab, Open Sans, & Lato */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic|Lato:400,400italic,700,700italic|Open+Sans:400,400italic,700,700italic,600,600italic);
$roboto: 'Roboto', sans-serif;//
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;


/** Component Imports */



/** Page Imports */
@import "pages/search/advsearch";
@import "pages/movies/moviepage";
@import "pages/landing/landing";
@import "pages/userpage/userpage";
@import "pages/reviews/reviews";
@import "pages/reviews/reviewComponent";
@import "pages/reviews/notFound"; 
@import "pages/people/personpage";


/** General Page Styling */
body {
  font-family: $lato;
  padding-bottom: 75px;
}

#MenubarSearch__input {
    border-radius: 4px 0px 0px 4px;
    border-right-style: none;
    box-shadow: 0px 0px 0px #fff;
    font-size: 17px;
    font-family: $open-sans;
}

#MenubarSearch__input:focus {
    box-shadow: 0px 0px 0px #fff;
    border: 1px solid #6DA2FF;
}

#MenubarSearch__submit {
    border-radius: 0px 4px 4px 0px;
    border-left-style: none;
    font-size: 18px;
    color: #565656;
    box-shadow: 0px 0px 0px #fff;
}

#MenubarSearch__content-wrapper {
    padding: 10px;
}

#MenubarSearch__content {
    display: flex;
    justify-content: center;

    p {
        margin-bottom: 5px;
    }
}

.MenubarSearch__suggestion {
    display: flex;
    flex-direction: column;
    max-width: 125px;
    font-size: 15px;
    margin-left: 2px;
    margin-right: 2px;

    img {
        height: 175px;
        margin-bottom: 4px;
    }
}
