/** Bootstrap Import */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

/** Bootstrap Datepicker */
@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css);

/** Lightbox2 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css);

/** Import google fonts: Roboto Slab, Open Sans, & Lato */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic|Lato:400,400italic,700,700italic|Open+Sans:400,400italic,700,700italic,600,600italic);
$roboto: 'Roboto', sans-serif;//
$open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;


/** Component Imports */
@import "components/MenubarSearch";
@import "components/AlbumPreview";


/** Page Imports */
// @import "pages/search/searchWidget"; // this doesn't exist yet -- can't compile
@import "pages/search/AdvSearch";
@import "pages/movies/moviepage";
@import "pages/landing/landing";
@import "pages/userpage/userpage";
@import "pages/reviews/reviews";
@import "pages/reviews/reviewComponent";
@import "pages/reviews/notFound";
@import "pages/people/personpage";


/** General Page Styling */
body {
  font-family: $lato;
  padding-bottom: 75px;
}

.searchWidget__center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
